In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [29]:
data=pd.read_csv('Advertising.csv')
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [30]:
data=data.drop(['Unnamed: 0'],1)
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [31]:
corr=data.corr()
corr.nlargest(4,['sales'])['sales']

sales        1.000000
TV           0.782224
radio        0.576223
newspaper    0.228299
Name: sales, dtype: float64

In [32]:
X=data.drop(['sales'],1)
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
sc=StandardScaler()
X=sc.fit_transform(X)
X

array([[ 9.69852266e-01,  9.81522472e-01,  1.77894547e+00],
       [-1.19737623e+00,  1.08280781e+00,  6.69578760e-01],
       [-1.51615499e+00,  1.52846331e+00,  1.78354865e+00],
       [ 5.20496822e-02,  1.21785493e+00,  1.28640506e+00],
       [ 3.94182198e-01, -8.41613655e-01,  1.28180188e+00],
       [-1.61540845e+00,  1.73103399e+00,  2.04592999e+00],
       [-1.04557682e+00,  6.43904671e-01, -3.24708413e-01],
       [-3.13436589e-01, -2.47406325e-01, -8.72486994e-01],
       [-1.61657614e+00, -1.42906863e+00, -1.36042422e+00],
       [ 6.16042873e-01, -1.39530685e+00, -4.30581584e-01],
       [-9.45155670e-01, -1.17923146e+00, -2.92486143e-01],
       [ 7.90028350e-01,  4.96973404e-02, -1.22232878e+00],
       [-1.43908760e+00,  7.99208859e-01,  1.62704048e+00],
       [-5.78501712e-01, -1.05768905e+00, -1.07502697e+00],
       [ 6.66253447e-01,  6.50657027e-01,  7.11007392e-01],
       [ 5.64664612e-01,  1.65000572e+00,  1.02862691e+00],
       [-9.25304978e-01,  9.00494200e-01,  3.84117072e+00],
       [ 1.56887609e+00,  1.10306488e+00,  1.16211917e+00],
       [-9.08957349e-01, -1.86635121e-01, -5.64073843e-01],
       [ 3.00679600e-03,  4.29449843e-02, -5.27248393e-01],
       [ 8.33232798e-01,  2.99534513e-01,  1.05164281e+00],
       [ 1.05509347e+00, -1.22649795e+00, -3.24708413e-01],
       [-1.56286250e+00, -4.97243498e-01,  8.76721921e-01],
       [ 9.48833887e-01, -4.29719938e-01, -2.00422516e-01],
       [-9.89527805e-01, -7.20071247e-01, -5.64073843e-01],
       [ 1.35285385e+00, -1.33453565e+00, -5.08835667e-01],
       [-4.83714657e-02,  4.07572210e-01, -8.26455181e-01],
       [ 1.08662104e+00, -4.43224650e-01, -3.52327501e-01],
       [ 1.18820988e+00,  2.59020377e-01, -3.52327501e-01],
       [-8.92609721e-01, -4.90491142e-01,  4.71641962e-01],
       [ 1.70316018e+00,  3.40048650e-01,  5.82118314e-01],
       [-3.98677796e-01, -3.95958157e-01,  3.70371972e-01],
       [-5.82004775e-01, -1.46958277e+00, -2.55016247e-02],
       [ 1.38438142e+00, -2.20396901e-01, -1.39264649e+00],
       [-5.99520091e-01, -1.47633512e+00, -1.06582061e+00],
       [ 1.67747105e+00, -1.29402151e+00, -1.01518562e+00],
       [ 1.39956136e+00,  1.38666383e+00, -1.17629696e+00],
       [-8.44734522e-01,  1.76479577e+00,  6.97197848e-01],
       [-1.21372386e+00,  2.32010953e-01,  2.09260624e-01],
       [ 9.45330823e-01,  9.74770116e-01,  6.65620024e-02],
       [ 6.47570443e-01, -6.50927121e-02,  4.81492770e-02],
       [ 3.49810063e-01,  6.84418807e-01,  3.74975153e-01],
       [ 1.71133400e+00,  2.99534513e-01, -1.32359877e+00],
       [ 6.98948705e-01, -1.00367020e+00, -1.91216154e-01],
       [-1.42390765e+00,  1.64487393e-01,  5.86721496e-01],
       [ 3.27623995e-01, -5.15880000e-02,  4.35460956e-02],
       [-6.69581357e-01, -9.02384859e-01,  2.36879713e-01],
       [ 1.08428567e+00,  1.23135965e+00, -5.54867481e-01],
       [ 9.35989321e-01, -5.03995854e-01,  8.90531465e-01],
       [-9.35814168e-01, -7.80842451e-01,  2.87514708e-01],
       [ 6.16042873e-01, -1.36154507e+00,  1.86244718e-01],
       [-5.44638766e-01, -9.22641928e-01, -1.24074150e+00],
       [ 8.09879042e-01,  1.24486436e+00,  4.16403786e-01],
       [ 4.15200577e-01,  1.54872038e+00,  1.29561142e+00],
       [ 1.35051848e+00,  3.73810430e-01, -6.74550196e-01],
       [ 6.05533683e-01,  1.76479577e+00,  1.35545278e+00],
       [-1.63175608e+00,  3.26543937e-01,  4.99261050e-01],
       [-1.26606546e-01, -2.74415749e-01, -6.42327927e-01],
       [ 7.44488528e-01,  1.77830048e+00,  3.28943340e-01],
       [ 7.43320840e-01,  4.21076922e-01, -9.78360166e-01],
       [-1.09228433e+00, -1.43582099e+00, -4.21375221e-01],
       [ 1.33417085e+00,  1.31238792e+00,  1.11148417e+00],
       [ 1.07727954e+00, -5.24252922e-01, -1.49787521e-01],
       [-5.17781948e-01,  4.27829278e-01, -1.01978880e+00],
       [-1.86158622e-01,  1.31914027e+00, -7.61366196e-02],
       [-9.11292725e-01, -9.42898996e-01, -1.36502740e+00],
       [-1.34917564e+00,  9.02114765e-02, -1.30518604e+00],
       [-9.04082253e-02, -5.91776482e-01, -9.36931533e-01],
       [ 1.05509347e+00,  2.86029801e-01, -9.00106083e-01],
       [ 8.14549794e-01,  1.39341619e+00, -1.54390703e-01],
       [ 6.07869059e-01,  4.95352838e-01,  3.74975153e-01],
       [-4.34876116e-01, -6.05281194e-01,  5.27524584e-02],
       [-1.40405696e+00,  6.57409383e-01, -5.18042030e-01],
       [-2.06009314e-01, -1.18598381e+00,  3.43397329e-02],
       [ 7.74848409e-01,  9.02114765e-02, -8.03439274e-01],
       [-1.51965805e+00,  1.37991148e+00,  2.70878810e+00],
       [-1.39588315e+00, -1.46283041e+00, -4.53597491e-01],
       [-3.09933525e-01,  3.53553362e-01, -7.52804279e-01],
       [-1.65394214e+00,  4.48086346e-01, -9.73756984e-01],
       [-3.62479475e-01, -1.05093669e+00, -3.43121138e-01],
       [-8.24883830e-01,  2.32010953e-01, -3.79946589e-01],
       [ 1.08311798e+00, -1.29402151e+00,  2.92117889e-01],
       [-8.37728396e-01, -2.00139833e-01,  8.95779092e-02],
       [-9.18298852e-01,  1.43393033e+00,  2.32276531e-01],
       [ 7.76016097e-01,  1.33264499e+00,  1.49419267e-01],
       [ 5.38975481e-01, -3.28434597e-01,  1.61783412e+00],
       [-8.26051518e-01,  2.86029801e-01, -6.69947015e-01],
       [-4.24366926e-01,  1.17058844e+00,  1.50275459e+00],
       [-6.85928986e-01,  1.50982681e-01,  1.97227908e+00],
       [-4.34876116e-01,  1.65675807e+00,  9.59579186e-01],
       [-1.48792614e-01, -1.24000266e+00, -9.78360166e-01],
       [-1.38303858e+00, -1.46958277e+00,  1.12593816e-01],
       [ 8.25058983e-01,  6.91171163e-01,  1.30942097e+00],
       [ 1.21273132e+00,  8.93741844e-01,  1.92164409e+00],
       [-4.62900623e-01, -6.25538262e-01, -9.04709264e-01],
       [ 1.89836839e-01,  5.62876398e-01,  1.02862691e+00],
       [ 5.90353742e-01, -1.33453565e+00, -1.13486833e+00],
       [ 4.42057396e-01, -1.52873340e-01, -3.93756133e-01],
       [ 1.66579418e+00,  1.28537849e+00,  9.50372823e-01],
       [-1.38283424e-01,  1.24486436e+00,  7.06404211e-01],
       [ 8.79940308e-01, -1.28051680e+00,  8.85928284e-01],
       [ 1.74402926e+00,  8.80237132e-01,  3.23815396e+00],
       [ 1.55486384e+00, -8.88880147e-01, -4.21375221e-01],
       [ 4.77088029e-01, -4.09462869e-01, -5.82486569e-01],
       [ 1.06443498e+00,  7.45190011e-01, -1.16248742e+00],
       [-1.06755854e-01,  1.56222509e+00,  1.30942097e+00],
       [-1.42507534e+00, -8.28108943e-01, -3.93111688e-02],
       [-6.61407543e-01, -1.55061104e+00, -3.38517957e-01],
       [-1.56403019e+00, -1.54385868e+00, -2.28041604e-01],
       [ 1.26527727e+00,  2.45515665e-01, -1.15328106e+00],
       [ 9.19641692e-01, -1.01717491e+00,  1.19434143e+00],
       [ 1.10530405e+00,  9.95027184e-01, -3.38517957e-01],
       [ 3.34630122e-01, -5.31005278e-01, -1.29597968e+00],
       [ 7.30476274e-01, -1.79882765e-01, -9.13915627e-01],
       [-8.03865450e-01,  1.58923451e+00,  1.81641536e-01],
       [-8.40063771e-01,  7.92456503e-01,  1.01942054e+00],
       [-9.15759131e-02, -6.05281194e-01, -2.28041604e-01],
       [-8.24883830e-01, -1.51684926e+00, -7.25185191e-01],
       [-2.49213762e-01,  9.20751268e-01,  2.23926360e+00],
       [-1.49046586e+00, -4.90491142e-01, -3.79946589e-01],
       [-6.70544700e-02,  2.38763309e-01,  7.20213755e-01],
       [-1.49747198e+00, -1.05606848e-01,  9.13547372e-01],
       [ 8.98623313e-01, -1.40881156e+00, -6.88359740e-01],
       [-2.79573643e-01,  7.65447079e-01, -8.35661544e-01],
       [ 9.62846140e-01,  6.10142891e-01,  2.00910454e+00],
       [-6.98773552e-01, -7.74090095e-01, -2.14232060e-01],
       [-1.62591764e+00,  1.05579839e+00,  9.22753735e-01],
       [-7.80511695e-01, -1.57086811e+00, -9.82963347e-01],
       [ 8.55418865e-01,  1.73778635e+00, -1.25915423e+00],
       [-1.02105537e+00, -7.60585383e-01,  5.77515133e-01],
       [-1.70882347e+00,  1.10306488e+00, -1.00597925e+00],
       [ 1.37971067e+00, -1.37504978e+00,  5.72911952e-01],
       [-1.61891151e+00,  2.65772733e-01, -1.30978922e+00],
       [ 8.49580427e-01,  6.91171163e-01,  6.69578760e-01],
       [-1.28612050e+00,  1.03554132e+00,  1.61323094e+00],
       [-1.15300409e+00,  1.60273923e+00, -1.01518562e+00],
       [-1.41806922e+00,  1.06255074e+00, -9.78360166e-01],
       [ 1.47896413e+00,  3.80562786e-01,  1.34164324e+00],
       [-1.21489154e+00,  1.77992105e-01, -4.62803854e-01],
       [ 4.42057396e-01,  1.39341619e+00, -1.32820195e+00],
       [-8.59914463e-01, -4.22967582e-01, -8.12645637e-01],
       [ 5.44813920e-01,  8.19465927e-01,  2.07354907e+00],
       [ 8.57754241e-01,  6.70914095e-01,  3.38149702e-01],
       [-4.95595880e-01, -1.18598381e+00,  1.77038355e-01],
       [-5.93681653e-01, -5.71519414e-01,  3.84181516e-01],
       [-7.87313476e-02, -1.44257334e+00, -9.92169710e-01],
       [ 1.08662104e+00, -1.07794612e+00, -1.00597925e+00],
       [ 1.12281936e+00,  1.73778635e+00,  6.32753309e-01],
       [-1.27327593e+00,  1.15033137e+00, -8.58677450e-01],
       [-1.19504085e+00,  1.71239749e-01, -4.58200672e-01],
       [ 1.56070228e+00, -6.32290618e-01,  2.96721070e-01],
       [-3.04095087e-01, -1.00367020e+00,  8.35293289e-01],
       [ 5.90353742e-01,  2.43084817e-03, -7.52804279e-01],
       [ 2.83251860e-01,  1.10981724e+00,  3.28943340e-01],
       [ 4.75920341e-01, -1.46120984e-01, -9.69153803e-01],
       [-1.66912209e+00, -7.87594807e-01, -1.14407469e+00],
       [-6.20538471e-01,  1.36640677e+00,  9.18150553e-01],
       [ 3.21989902e-02, -1.48308748e+00, -2.87882962e-01],
       [-1.58037782e+00,  9.20751268e-01,  6.74181942e-01],
       [-1.79152496e-01, -3.28434597e-01,  1.86244718e-01],
       [ 2.97264113e-01, -3.48691665e-01,  6.72064478e-03],
       [-7.16288868e-01,  8.46475352e-01,  8.62912377e-01],
       [ 4.82926468e-01, -3.48691665e-01, -2.28041604e-01],
       [ 1.92172214e-01,  9.13998912e-01, -1.06582061e+00],
       [-3.48467222e-01, -5.78271770e-01, -1.15788424e+00],
       [ 1.02123053e+00, -1.34128800e+00,  2.49704176e+00],
       [-1.50798117e+00,  9.68017760e-01, -4.12168859e-01],
       [ 6.97781017e-01, -1.21974559e+00, -5.13438849e-01],
       [ 7.98202165e-01,  2.26879163e-02,  1.24497643e+00],
       [ 1.60273904e+00, -8.55118367e-01, -1.11185242e+00],
       [-1.13315340e+00, -7.87594807e-01, -5.59470662e-01],
       [ 2.03849092e-01, -1.59625696e-01,  7.75451931e-01],
       [-1.48813048e+00, -2.13644545e-01, -6.23915201e-01],
       [ 2.49388915e-01, -1.09145083e+00, -8.17248818e-01],
       [ 8.79940308e-01, -1.34128800e+00, -8.03439274e-01],
       [ 1.51633014e+00,  1.73103399e+00,  5.17673775e-01],
       [ 1.18353913e+00,  4.68343414e-01, -4.72010216e-01],
       [ 2.70407294e-01, -1.04418434e+00,  2.13863806e-01],
       [ 1.51399477e+00, -1.41556392e+00, -3.15502050e-01],
       [ 2.16693657e-01, -8.95632503e-01, -5.96296113e-01],
       [ 1.11601758e-01, -1.39530685e+00, -1.02439198e+00],
       [ 8.34400486e-01, -1.20624088e+00, -1.45184340e-01],
       [-1.06075676e+00, -1.18598381e+00, -3.93111688e-02],
       [ 1.64127273e+00,  1.33264499e+00,  1.89862818e+00],
       [ 1.24659427e+00, -1.32616272e-01, -2.55016247e-02],
       [ 6.76762637e-01,  1.47444446e+00, -5.04232486e-01],
       [-8.80728498e-02, -1.42906863e+00, -1.82009791e-01],
       [ 5.14454038e-01,  3.67058074e-01, -5.68677025e-01],
       [ 1.62258973e+00, -6.32290618e-01, -1.23613832e+00],
       [-1.49863967e+00, -7.53833027e-01, -3.29311594e-01],
       [-1.25576062e+00,  1.20435022e+00, -1.13947151e+00],
       [-8.35393020e-01, -8.41613655e-01, -1.13026515e+00],
       [-1.51615499e+00, -1.29402151e+00,  4.81492770e-02],
       [ 2.30705910e-01,  1.26512143e+00, -1.24074150e+00],
       [ 3.10313024e-02,  8.32970639e-01, -1.13026515e+00],
       [-1.27094056e+00, -1.32103093e+00, -7.71217005e-01],
       [-6.17035408e-01, -1.24000266e+00, -1.03359834e+00],
       [ 3.49810063e-01, -9.42898996e-01, -1.11185242e+00],
       [ 1.59456522e+00,  1.26512143e+00,  1.64085003e+00],
       [ 9.93206022e-01, -9.90165488e-01, -1.00597925e+00]])

In [36]:
y=data['sales'].values
y

array([22.1, 10.4,  9.3, 18.5, 12.9,  7.2, 11.8, 13.2,  4.8, 10.6,  8.6,
       17.4,  9.2,  9.7, 19. , 22.4, 12.5, 24.4, 11.3, 14.6, 18. , 12.5,
        5.6, 15.5,  9.7, 12. , 15. , 15.9, 18.9, 10.5, 21.4, 11.9,  9.6,
       17.4,  9.5, 12.8, 25.4, 14.7, 10.1, 21.5, 16.6, 17.1, 20.7, 12.9,
        8.5, 14.9, 10.6, 23.2, 14.8,  9.7, 11.4, 10.7, 22.6, 21.2, 20.2,
       23.7,  5.5, 13.2, 23.8, 18.4,  8.1, 24.2, 15.7, 14. , 18. ,  9.3,
        9.5, 13.4, 18.9, 22.3, 18.3, 12.4,  8.8, 11. , 17. ,  8.7,  6.9,
       14.2,  5.3, 11. , 11.8, 12.3, 11.3, 13.6, 21.7, 15.2, 12. , 16. ,
       12.9, 16.7, 11.2,  7.3, 19.4, 22.2, 11.5, 16.9, 11.7, 15.5, 25.4,
       17.2, 11.7, 23.8, 14.8, 14.7, 20.7, 19.2,  7.2,  8.7,  5.3, 19.8,
       13.4, 21.8, 14.1, 15.9, 14.6, 12.6, 12.2,  9.4, 15.9,  6.6, 15.5,
        7. , 11.6, 15.2, 19.7, 10.6,  6.6,  8.8, 24.7,  9.7,  1.6, 12.7,
        5.7, 19.6, 10.8, 11.6,  9.5, 20.8,  9.6, 20.7, 10.9, 19.2, 20.1,
       10.4, 11.4, 10.3, 13.2, 25.4, 10.9, 10.1, 16.1, 11.6, 16.6, 19. ,
       15.6,  3.2, 15.3, 10.1,  7.3, 12.9, 14.4, 13.3, 14.9, 18. , 11.9,
       11.9,  8. , 12.2, 17.1, 15. ,  8.4, 14.5,  7.6, 11.7, 11.5, 27. ,
       20.2, 11.7, 11.8, 12.6, 10.5, 12.2,  8.7, 26.2, 17.6, 22.6, 10.3,
       17.3, 15.9,  6.7, 10.8,  9.9,  5.9, 19.6, 17.3,  7.6,  9.7, 12.8,
       25.5, 13.4])

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
model=LinearRegression(normalize=True)
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [41]:
model.coef_

array([4.020942  , 2.61518253, 0.04021465])

In [42]:
model.intercept_

14.005829187272239

In [43]:
y_pred=model.predict(X_test)
y_pred

array([21.66318307, 16.44137936,  7.69144625, 17.9163172 , 18.67047113,
       23.79199311, 16.2825425 , 13.44138683,  9.15294033, 17.32475313,
       14.43922876,  9.84019547, 17.26329945, 16.62853147, 15.09158705,
       15.50173894, 12.43404074, 17.32591521, 11.04327486, 18.05652777,
        9.35309526, 12.79465958,  8.73413846, 10.47225333, 11.38216042,
       15.02658554,  9.7406823 , 19.44676903, 18.19211174, 17.20178728,
       21.56359539, 14.70484262, 16.2635213 , 12.37098906, 19.97059316,
       15.36768988, 14.00399515, 10.0772945 , 20.91891557,  7.43833283,
        3.67031166,  7.27760354,  5.99523188, 18.41497546,  8.31868226,
       14.1090252 , 14.93697583, 20.35882814, 20.56271636, 19.55380813,
       24.10360923, 14.84985778,  6.71474914, 19.77761567, 18.93996367,
       12.5109195 , 14.20052652,  6.10844697, 15.3695344 ,  9.56769111])

In [45]:
y_test

array([23.8, 16.6,  9.5, 14.8, 17.6, 25.5, 16.9, 12.9, 10.5, 17.1, 14.5,
       11.3, 17.4, 16.7, 13.4, 15.9, 12.9, 12.8,  9.5, 18.4, 10.7, 12.5,
        8.5, 11.5, 11.9, 14.9, 10.1, 18.9, 19.6, 15.9, 23.2, 11.9, 17.3,
       11.7, 20.2, 15.5, 11.5, 11. , 22.3,  7.6,  5.3,  8.7,  6.7, 19. ,
        5.5, 14.6, 14.6, 21.5, 22.6, 19.7, 25.4, 15.2,  6.6, 21.2, 17.4,
       12.6, 12.2,  7.2, 13.4,  9.6])

In [46]:
a=pd.DataFrame({'actual':y_test,'predicted':y_pred})
a.head(10)

   actual  predicted
0    23.8  21.663183
1    16.6  16.441379
2     9.5   7.691446
3    14.8  17.916317
4    17.6  18.670471
5    25.5  23.791993
6    16.9  16.282543
7    12.9  13.441387
8    10.5   9.152940
9    17.1  17.324753

In [47]:
from sklearn.metrics import r2_score

In [48]:
r2_score(y_test,y_pred)

0.9224605706201434

In [49]:
model.score(X_train,y_train)

0.8850053786777522

In [53]:
a=data.iloc[100:105,:-1]
a

        TV  radio  newspaper
100  222.4    4.3       49.8
101  296.4   36.3      100.9
102  280.2   10.1       21.4
103  187.9   17.2       17.9
104  238.2   34.3        5.3

In [55]:
a=sc.fit_transform(a)
a

array([[-0.57647057, -1.25913125,  0.3142853 ],
       [ 1.30941901,  1.23728759,  1.80962781],
       [ 0.8965621 , -0.80665534, -0.51678569],
       [-1.45570287, -0.25276241, -0.61920641],
       [-0.17380766,  1.08126141, -0.987921  ]])

In [56]:
model.predict(a)

array([ 8.40765528, 22.57943349, 15.48052007,  7.46661137, 16.09492572])